<!doctype html>
<html>
  <head>
		<%= partial "partials/head" %>
  </head>
  <body>
		<%= partial "partials/header" %>
		<%= partial "partials/signup" %>
		<%= partial "partials/featured_content" %>
		<%= partial "partials/latest_content" %>
		<main>
			<%= yield %>
		</main>
		<%= partial "partials/footer" %>
  </body>
</html>
