<!doctype html>
<html>
  <head>
		<%= partial "partials/head" %>
  </head>
  <body>
		<%= partial "partials/header" %>
		<%= partial("partials/signup", locals: { split_layout: false }) %>
		<main>
			<%= yield %>
		</main>
		<%= partial "partials/footer" %>
  </body>
</html>
