<% wrap_layout :split do %>
  <article class="px-2 sm:px-3 py-6 md:py-0">
		<img src="<%= current_page.data.full_image %>" alt="<%= current_page.title %>" class="w-full">
		<% if current_page.data.newsletter_issue %>
			<p class="text-xs mt-3">Newsletter Issue <%= current_page.data.newsletter_issue %> - <%= Date.parse(current_page.data.date).strftime("%B %d, %Y") if current_page.data.date %></p>
		<% end %>
		<h1 class="alt_font mt-4"><%= current_page.data.on_page_title %></h1>
		<% if current_page.data.jump_to_recipe == true %>
			<a href="#recipe-target" class="inline-block bg-link text-white py-1 px-2 rounded-sm text-xs hover:bg-opacity-90">
				Jump to Recipe
			</a>
		<% end %>
    <%= yield %>
  </article>
<% end %>
