<section class="w-full px-2 sm:px-5 py-6 lg:py-8 lg:bg-[#eaeaef] mt-3 lg:mt-10 xl:rounded-md">
  <div class="max-w-4xl mx-auto text-center md:text-left">
    <h2 class="text-2xl md:text-3xl font-normal my-0 alt_font tracking-wide mb-4 text-center">Discover the Latest Flavors from Evercooked</h2>
		<div class="max-w-5xl mx-auto mt-3 grid gap-5 sm:grid-cols-2">
			<% article = blog('blog').articles.select(&:published?).first %>
			<a href="<%= article.url.chomp('/') %>" class="p-4 bg-white border border-gray-100 shadow-sm hover:shadow-md transition text-body flex flex-col justify-between hover:text-body hover:cursor-pointer">
				<div>

					<img src="<%= article.data.featured_image %>" alt="Blog Post 1" class="mb-4">
					<div class="mb-2 text-xs font-semibold text-graypurple uppercase tracking-wider">
						What's Cooking
					</div>
					<h3 class="font-semibold leading-snug"><%= article.data.on_page_title %></h3>
					<div class="hidden md:block mt-2 font-normal"><%= article.summary %></div>
				</div>
				<p class="mt-3 mb-0 inline-block text-link font-medium hover:text-linkhover transition">Read more →</p>
			</a>

			<% article = blog('newsletters').articles.select(&:published?).first %>
			<a href="<%= article.url.chomp('/') %>" class="p-4 bg-white border border-gray-100 shadow-sm hover:shadow-md transition text-body flex flex-col justify-between hover:text-body hover:cursor-pointer">
				<div>
					<img src="<%= article.data.featured_image %>" alt="Blog Post 1" class="mb-4">
					<div class="mb-2 text-xs font-semibold text-graypurple uppercase tracking-wider">
						Notes from the Table
					</div>
					<h3 class="font-semibold leading-snug"><%= article.data.on_page_title %></h3>
					<div class="hidden md:block mt-2 font-normal"><%= article.summary %></div>
				</div>
				<p class="mt-0 mb-0 inline-block text-link font-medium hover:text-linkhover transition">Read more →</p>
			</a>
		</div>
	</div>
</section>
<div class="hidden md:flex items-center justify-center md:my-12">
	<hr class="w-1/3 h-px bg-[#e1e1e1] border-0">
</div>
