<section class="w-full px-6 py-8 bg-backgroundlight">
	<div class="max-w-5xl mx-auto mt-12">
  	<div class="mb-8">
			<h3 class="text-2xl font-semibold">Blog Posts</h3>
			<div class="grid gap-6 mt-4 sm:grid-cols-2 lg:grid-cols-4 sm:bg-lightpurple sm:p-6 rounded-lg">
				<% blog('blog').articles[0...4].each do |article| %>
					<a href="<%= article.url %>" class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition block text-body">
						<img src="<%= article.data.featured_image %>" alt="Blog Post 2" class="rounded-lg mb-4">
						<h4 class="text-lg font-semibold"><%= article.title %></h4>
						<p class="mt-2 text-link hover:text-linkhover transition">Read more →</p>
					</a>
				<% end %>
			</div>
			<div class="text-center mt-4">
				<a href="/blog/" class="text-sm font-semibold text-link hover:text-linkhover transition">View All Posts →</a>
			</div>
		</div>
    <div class="mb-8">
    	<h3 class="text-2xl font-semibold">Newsletters </h3>
			<div class="grid gap-6 mt-4 sm:grid-cols-2 lg:grid-cols-4 sm:bg-lightpurple sm:p-6 rounded-lg">
				<% blog('newsletters').articles[0...4].each do |article| %>
					<a href="<%= article.url %>" class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow-md transition block text-body">
						<img src="<%= article.data.featured_image %>" alt="Blog Post 2" class="rounded-lg mb-4">
						<h4 class="text-lg font-semibold"><%= article.title %></h4>
						<p class="mt-2 text-link hover:text-linkhover transition">Read more →</p>
					</a>
				<% end %>
			</div>
			<div class="text-center mt-4">
				<a href="/newsletters/" class="text-sm font-semibold text-link hover:text-linkhover transition">View All Newsletters →</a>
			</div>
    </div>
	</div>
</section>
