---
title: Blog Posts
description: Evercooked description
date: "2025-02-10"
layout: split
---

<main class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <% blog('blog').articles.select(&:published?).each do |article| %>
    <div class="flex flex-col h-full">
      <a href="<%= article.url %>" class="block">
        <img src="<%= article.data.featured_image %>" alt="<%= article.title %>" class="w-full h-56 object-cover rounded-lg">
      </a>
      <a href="<%= article.url %>" class="block my-3 text-xl font-semibold leading-tight hover:underline text-body">
        <%= article.title %>
      </a>
      <%= article.summary %>
      <div class="mt-auto">
        <a href="<%= article.url %>" class="text-link hover:text-linkhover inline-block">Read more →</a>
      </div>
    </div>
  <% end %>
</main>
